@font-face {
  font-family: 'super morning';
  src: url('../fonts/Super-Morning.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'righteous';
  src: url('../fonts/Righteous-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #8800ff;
}

/*---1.HEAD HOME NAV BAR---*/

#header {
   align-content: center;
}

#logo {
   width: 200px;
   padding: 30px;
}

nav ul {
    list-style: none;
    padding: 30px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: rgb(71, 14, 158);
    font-weight: bold;
}

#shopping-cart {
  padding-top: 30px; 
  cursor: pointer;
}

/* transitioning the colour hover */
#shopping-cart img {
  filter: invert(24%) sepia(94%) saturate(5931%) hue-rotate(268deg) brightness(97%) contrast(106%);
  transition: filter 0.5s ease-in;
}

#shopping-cart:hover img {
  filter: invert(86%) sepia(35%) saturate(1034%) hue-rotate(33deg) brightness(101%) contrast(87%);
}

/*search and profile icons*/

#search-icon {
   padding-top: 30px;
}

#profile-icon {
   padding-top: 30px;
}

/*---2.Hero Image---*/

#hero {

 
}

/*---3.Slogan and About---*/

#slogan {
   font-family: 'super morning', Arial, Helvetica, sans-serif;
   font-size: 48px;
   text-align: center;
   padding: 20px;
}

#about {
   font-size: 22px;
   text-align: center;
   padding-bottom: 20px;
}

/*---4.Products---*/
#products {
   height: 300px;
}

#services {
   height: 500px;
}

#footer {
   font-family: 'super morning', Arial, Helvetica, sans-serif;
   font-size: 36px;
   height: auto; 
}

#slideshow {
   height: auto; 
   min-height: 200px
}

/* Ensure the image doesn't exceed the container width */
#slideshow img {
    width: 100%;
    height: auto;
    display: block; /* Removes the tiny gap at the bottom of images */
}

#slidehow img {
   max-width: 100%;
}


#category-nav {
   font-size: 20px;
   text-align: center;
}

.line {
   border-top: solid 3px #ca3aeb;
    margin-top: 15px;
    padding-top: 20px;
}

/*Products Page*/

#drink-products {
   padding: 20px;
}

/*See More Button*/
#see-more-button {
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 24px;
   background-color: #8800ff;
   color: white;
   padding: 20px 20px;
   margin: 20px;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   transition: background-color 0.5s ease-in;
  }

 #see-more-button:hover {
   background-color: #e21ce2;
  }

@media screen and (min-width: 1200px) {
   .hidden-box {
      display: block;
   }
}

/*MOBILE SETTINGS (Under 768px)*/

nav, #search-icon, #profile-icon {
    display: none;
}

#burger-con {
    display: block;
    cursor: pointer;
    padding-top: 30px;
}

#burger-con img {
    width: 30px;
}

/* 2. TABLET/DESKTOP SETTINGS FOR THE BURGER MENU AND HEAD NAV (768px and up) */
@media screen and (min-width: 768px) {
    
    #burger-con {
        display: none;
    }

    nav, #search-icon, #profile-icon {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }
}