@font-face {
  font-family: 'super morning';
  src: url('../fonts/Super-Morning.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'righteous';
  src: url('../fonts/Righteous-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* General Styles */

body {
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #30008F;
   background: 
        linear-gradient(to right, 
            transparent 0%, 
            #FAFBF5 25%, 
            #FAFBF5 75%,
            transparent 100%
        ),
        url(../images/web-bg-pattern.svg);
   background-position: center;
   margin: 0;
   cursor: url(../images/cursor.svg), auto;
}

h2 {
   font-family: 'super morning', Arial, Helvetica, sans-serif;
   font-size: 48px;
   text-align: center;
   padding: 40px 20px;
   color:#FAFBF5;
   -webkit-text-stroke: 2px black;
   text-shadow: 10px 6px 0 #D22DFB;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

h4 {
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 32px;
   color: #FAFBF5;
   padding: 10px;
}

.line {
  border-top: solid 3px #691EFF;
  margin-top: 15px;
  padding-top: 20px;
}

span {
   color: #691EFF;
}

/* Mouse Trail */

.trail {
   position: fixed;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   pointer-events: none;
   opacity: 0.9;
   transform: translate(-50%, -50%);
   animation: fadeOut 0.8s ease-out forwards;
   z-index: 101;
}

@keyframes fadeOut{
   to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
   }
}

/* hovering over links */

a:hover {
   color: #D22DFB;
   transition: color 0.3s ease;
}

/*---1. HEADER & NAVIGATION ---*/

#header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; 
    align-items: start; 
    
}

#hero-image, 
#nested-hero-grid, 
#hero-info {
   grid-column: 1;
   grid-row: 1;
}

#hero-image {
   grid-column: 1;
   grid-row: 1;
   width: 100%;
   max-width: 1920px; 
   z-index: 1;
   display: block;
   justify-self: center;
}

/* Top Navigation */
#nested-hero-grid {
   grid-row: 1;
   grid-column: 1 / -1;
   display: grid;
   align-self: start;
   align-items: center;
   padding: 10px 40px;
   background-color: rgba(255, 255, 255, 0.7); 
   backdrop-filter: blur(10px);
   border-radius: 10px;
   position: fixed;
   top: 0;
   z-index: 100; 
}

#logo {
   width: 200px;
   padding: 10px;
   grid-row: 1;
}

nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: space-around;
}

nav a {
   text-decoration: none;
   color: rgb(71, 14, 158);
   font-weight: bold;
}

/* Icon Common Styles */
#shopping-cart, #search-icon, #profile-icon, #burger-con {
  grid-row: 1;     
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shopping-cart img, #search-icon img, #profile-icon img, #burger-con img {
   height: 30px;
   width: auto;
}

/* Hover Effects */
#shopping-cart img {
  filter: invert(24%) sepia(94%) saturate(5931%) hue-rotate(268deg) brightness(97%) contrast(106%);
  transition: filter 0.5s ease-in;
}

#shopping-cart:hover img {
  filter: invert(86%) sepia(35%) saturate(1034%) hue-rotate(33deg) brightness(101%) contrast(87%);
}

/* Information on Hero */
#hero-info {
   z-index: 50; 
   align-self: center; 
   justify-self: center; 
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   pointer-events: none;
}

#hero-info h2 {
   color: #FAFBF5;
   text-align: center;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #000;
   font-family: "Super Morning";
   font-size: 36px;
   font-style: normal;
   font-weight: 400;
}

 #hero-info button {
    pointer-events: auto; 
}

/*---2. CONTENT SECTIONS ---*/

#slogan {
   font-family: 'super morning', Arial, Helvetica, sans-serif;
   font-size: 48px;
   text-align: center;
   padding: 40px 20px;
   color:#FAFBF5;
   -webkit-text-stroke: 2px black;
   text-shadow: 10px 6px 0 #D22DFB;
}

#about {
   font-size: 22px;
   text-align: center;
   padding-bottom: 40px;
}

#products {
   font-family: 'super morning', Arial, Helvetica, sans-serif;
   text-align: center;
}

/*---3. FOOTER & SLIDESHOW ---*/

#footer {
   font-size: 36px;
   padding: 40px 0;
   text-align: center;
   background: #30008F;
}

footer p {
   color: #FAFBF5;
   text-align: center;
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
#footer-nav nav {
   display: block;
}

#footer-nav ul {
   list-style: none;     
   padding: 0; 
   margin: 0;
   display: flex;  
   flex-direction: column;
   align-items: center; 
   gap: 12px;         
}

#footer-nav a {
   text-decoration: none;
   color: #FAFBF5;         
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 18px;
}

#footer-follow-us h4 {
    margin-bottom: 5px; 
    padding-bottom: 0;
}

#footer-follow-us ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

#footer-follow-us img {
    width: 60px;
    height: auto;
    transition: transform 0.2s ease;
}

#footer-follow-us img:hover {
    transform: scale(1.1);
}

#footer div.col-span-full p {
    color: #FAFBF5;
    font-size: 32px;
    margin-top: 30px;
   font-family: 'super morning', Arial, Helvetica, sans-serif;
}





#slideshow img {
   width: 100%;
   height: auto;
   display: block;
}




/*---4. BUTTONS ---*/

#locations-button {
   display: flex;          
   align-items: center;   
   justify-content: center; 
   gap: 15px;  
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         0px  2px 0 #000,
         0px -2px 0 #000,
         2px  0px 0 #000,
        -2px  0px 0 #000;
   font-size: 18px;
   color: #FAFBF5;
   padding: 12px 30px;
   border-radius: 113px;
   border: 2px solid #000;
   background: #D22DFB;
   box-shadow: 13px 8px 0 0 #691EFF;
   cursor: pointer;
}

#locations-button img {
    height: 18px;       
   width: auto;
   display: block; 
}


#see-more-button {
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 24px;
   background-color: #8800ff;
   color: white;
   padding: 15px 30px;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   transition: background-color 0.5s;
}


#see-more-button:hover {
   background-color: #D22DFB;
}

/*---5. ABOUT PAGE---*/

#punchline {
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #30008F;
   font-size: 48px;
   text-align: center;
   padding: 150px;
}

/*---6. CONTACT PAGE SECTION INFO ---*/

#contact {
   background-image: url(../images/pink-bg.svg);
   background-size: 100% 100%;
   background-position: center;
   background-repeat: no-repeat;
   padding: 80px 40px;
   text-align: center;
   font-family: 'righteous', sans-serif;
   border-radius: 50px; 
   margin: 20px;
}

#contact h2 {
   margin-bottom: 5px;
}

#contact p {
   font-size: 24px;
   margin-bottom: 40px;
}

#contact-form {
   display: grid;
   gap: 20px;
   max-width: 1200px;
   margin: 0 auto;
   text-align: left;
}

.form-group {
   display: flex;
   flex-direction: column;
}

label {
   color: #FAFBF5;
   text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         0px  2px 0 #000,
         0px -2px 0 #000,
         2px  0px 0 #000,
        -2px  0px 0 #000;
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 32px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 10px;
}

input, textarea {
   background-color: #FAFBF5;
   border: 2px solid #000;
   border-radius: 15px;
   padding: 15px;
   font-size: 1rem;
   outline: none;
   box-shadow: 
      0 0 0 10px #691EFF,
      0 0 0 12px #000,    
      8px 8px 0 10px #C7D852;
    margin: 15px;
}

textarea {
   height: 100%;
   min-height: 200px;
   resize: none;
}

 

#submit-button {
   justify-self: end;
   background-color: #C7D852;
   color: #FAFBF5;
   text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         0px  2px 0 #000,
         0px -2px 0 #000,
         2px  0px 0 #000,
        -2px  0px 0 #000;
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 1.3rem;
   padding: 10px 40px;
   border: 3px solid #000;
   border-radius: 50px;
   cursor: pointer;
   box-shadow: 4px 4px 0 #000;
   transition: transform 0.1s;
}

#submit-button:hover {

}

#submit-button:active {
   transform: translate(2px, 2px);
   box-shadow: 2px 2px 0 #000;
}


/*---7. MEDIA QUERIES ---*/

/* TABLET/DESKTOP SETTINGS (768px and up) */
@media screen and (min-width: 768px) {
   #burger-con {
      display: none;
   }

   nav, #search-icon, #profile-icon {
      display: block;
   }

   #logo {
      width: 140px;
   }

   .message-field {
        grid-row: 1 / 3; 
   }

   #message {
        height: 100%;
   }

    #submit-button {
        grid-row: 3;
   }

   .form-group {
    display: flex;
    flex-direction: column;
   }

   #footer-follow-us ul {
      flex-direction: row; 
      justify-content: center;
   }
}  

@media screen and (min-width: 1200px) {
   .hidden-box {
      display: block;
   }
   
}

/* --- MOBILE SETTINGS (767px and below) --- */
@media screen and (max-width: 767px) {
    #search-icon, #profile-icon {
        display: none;
    }

    #burger-con {
        position: relative;
        z-index: 1100; 
        display: flex;
        cursor: pointer;
    }

   #burger-con img {
        transition: transform 0.4s ease-in-out;
    }
    
    #nested-hero-grid nav.show-menu ~ #burger-con img,
    #burger-con.active img {
        transform: rotate(90deg);
    }

    #nested-hero-grid nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0; 
        left: 0;
        background-image: url(../images/mobile-hamburger-bg.svg);
        background-repeat: none;
        background-position: center;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
    }

    #nested-hero-grid nav.show-menu {
        transform: translateX(0);
    }

    #nested-hero-grid nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        list-style: none;
        padding: 0;
    }

    #nested-hero-grid nav ul li a {
        color: #FAFBF5;
        font-size: 32px;
        text-decoration: none;
        text-transform: uppercase;
    }
   }