@font-face {
  font-family: 'super morning';
  src: url('../fonts/Super-Morning.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'righteous';
  src: url('../fonts/Righteous-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* General Styles */

body {
   font-family: 'righteous', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #30008F;
   margin: 0;
   cursor: url(../images/cursor.svg), auto;
}

h2 {
   font-size: 48px;
}


.line {
  border-top: solid 3px #691EFF;
  margin-top: 15px;
  padding-top: 20px;
}

/* Mouse Trail */

.trail {
   position: fixed;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   pointer-events: none;
   opacity: 0.9;
   transform: translate(-50%, -50%);
   animation: fadeOut 0.8s ease-out forwards;
   z-index: 101;
}

@keyframes fadeOut{
   to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
   }
}

/*---1. HEADER & NAVIGATION ---*/

#header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; 
    align-items: start; 
    overflow: hidden;
}

#hero-image, 
#nested-hero-grid, 
#hero-info {
   grid-column: 1;
   grid-row: 1;
}

#hero-image {
   grid-column: 1;
   grid-row: 1;
   width: 100%;
   max-width: 1920px; 
   z-index: 1;
   display: block;
   justify-self: center;
}

/* Top Navigation */
#nested-hero-grid {
   grid-row: 1;
   grid-column: 1 / -1;
   display: grid;
   align-self: start;
   align-items: center;
   padding: 10px 0;
   background-color: rgba(255, 255, 255, 0.7); 
   backdrop-filter: blur(10px);
   border-radius: 10px;
   position: sticky;
   top: 0;
   z-index: 100; 
}

#logo {
   width: 200px;
   padding: 10px;
   grid-row: 1;
}

nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: space-around;
}

nav a {
   text-decoration: none;
   color: rgb(71, 14, 158);
   font-weight: bold;
}

/* Icon Common Styles */
#shopping-cart, #search-icon, #profile-icon, #burger-con {
  grid-row: 1;     
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shopping-cart img, #search-icon img, #profile-icon img, #burger-con img {
   height: 30px;
   width: auto;
}

/* Hover Effects */
#shopping-cart img {
  filter: invert(24%) sepia(94%) saturate(5931%) hue-rotate(268deg) brightness(97%) contrast(106%);
  transition: filter 0.5s ease-in;
}

#shopping-cart:hover img {
  filter: invert(86%) sepia(35%) saturate(1034%) hue-rotate(33deg) brightness(101%) contrast(87%);
}

/* Information on Hero */
#hero-info {
   z-index: 50; 
   align-self: center; 
   justify-self: center; 
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   pointer-events: none;
}

#hero-info h2 {
   color: #FAFBF5;
   text-align: center;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #000;
   font-family: "Super Morning";
   font-size: 36px;
   font-style: normal;
   font-weight: 400;
}

 #hero-info button {
    pointer-events: auto; 
}

/*---2. CONTENT SECTIONS ---*/

#slogan {
   font-family: 'super morning', Arial, Helvetica, sans-serif;
   font-size: 48px;
   text-align: center;
   padding: 40px 20px;
   color:#FAFBF5;
   -webkit-text-stroke: 2px black;
   text-shadow: 10px 6px 0 #D22DFB;
}

#about {
   font-size: 22px;
   text-align: center;
   padding-bottom: 40px;
}

#products {
   font-family: 'super morning', Arial, Helvetica, sans-serif;
   text-align: center;
}

/*---3. FOOTER & SLIDESHOW ---*/

#footer {
   font-family: 'super morning', Arial, Helvetica, sans-serif;
   font-size: 36px;
   padding: 40px 0;
   text-align: center;
   background: #30008F;
}

#footer-nav nav {
    display: block;
}
#footer-nav ul {
    list-style: none;     
    padding: 0; 
    margin: 0;
    display: flex;  
    flex-direction: column;
    align-items: center; 
    gap: 12px;         
}

#footer-nav a {
    text-decoration: none;
    color: #FAFBF5;         
    font-family: 'righteous', sans-serif;
    font-size: 18px;
}

#footer-follow-us ul {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 10px;              
    list-style: none;      
    padding: 0;
}

#footer-follow-us img {
    width: 30px;      
    height: auto;
}

#slideshow img {
    width: 100%;
    height: auto;
    display: block;
}

/*---4. BUTTONS ---*/
#locations-button {
   display: flex;          
   align-items: center;   
   justify-content: center; 
   gap: 15px;  
   font-family: 'righteous';
   font-size: 18px;
   color: #FAFBF5;
   padding: 12px 30px;
   border-radius: 113px;
   border: 2px solid #000;
   background: #D22DFB;
   box-shadow: 13px 8px 0 0 #691EFF;
   cursor: pointer;
}

#locations-button img {
    height: 18px;       
   width: auto;
   display: block; 
}


#see-more-button {
   font-family: 'righteous', sans-serif;
   font-size: 24px;
   background-color: #8800ff;
   color: white;
   padding: 15px 30px;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   transition: background-color 0.5s;
}


#see-more-button:hover {
   background-color: #e21ce2;
}

/*---5. MEDIA QUERIES ---*/

/* MOBILE SETTINGS (Default / Under 768px) */
nav, #search-icon, #profile-icon {
    display: none;
}

#burger-con {
    display: flex;
}

/* TABLET/DESKTOP SETTINGS (768px and up) */
@media screen and (min-width: 768px) {
    #burger-con {
        display: none;
    }

    nav, #search-icon, #profile-icon {
        display: block;
    }

    #logo {
        width: 140px;
    }

    #footer-follow-us ul {
        flex-direction: row; 
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
   .hidden-box {
      display: block;
   }
}